body {
    font-family: 'Times New Roman', Times, serif;
}
div.texto {
    margin: auto;
    width: 500px;
}
div.img {
    margin: auto;
    width: 500px;
}
a:link, a:visited, a:hover, a:active {
    color: white !important;
    text-decoration: none;
}
section {
    text-align: center;
}
p {
    text-align: justify;
}
.titulo-form {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#telaLogin {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgb(195, 195, 195);


}