div.texto {
    margin: auto;
    width: 500px;
}
div.img {
    margin: auto;
    width: 500px;
}
a:link, a:visited, a:hover, a:active {
    color: white !important;
    text-decoration: none;
}
section {
    text-align: center;
}
p {
    text-align: justify;
}
