section.section {
    display: flex;
    flex-wrap: wrap;
}
div.texto {
    margin: auto;
    width: 500px;
}
div.img {
    margin: auto;
    width: 500px;
}
.titulo-form{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
